# =========================
# FRONTEND
# =========================
asopistar_frontend/node_modules/
asopistar_frontend/dist/

# =========================
# BACKEND SPRING
# =========================
asopistar-backend/target/
*.class

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
*.env

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log